@{
    ViewBag.Title = "Dashboard";
}





<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Dashboard</h1>
    <ol class="breadcrumb">
        <li class="active">This is a quick overview of some features</li>
    </ol>
    <!-- Start Page Header Right Div -->
    <div class="right">
        <div class="btn-group" role="group" aria-label="...">
            <a href="index.html" class="btn btn-light">Dashboard</a>
            <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
            <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
            <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
        </div>
    </div>
    <!-- End Page Header Right Div -->
</div>
<!-- End Page Header -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-widget">
    <!-- Start Top Stats -->
    <div class="col-md-12">
        <ul class="topstats clearfix">
            <li class="arrow"></li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-dot-circle-o"></i> Today Profit</span>
                <h3>$36.45</h3>
                <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-calendar-o"></i> This Week</span>
                <h3>$96.25</h3>
                <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last week</span>
            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-shopping-cart"></i> Total Sales</span>
                <h3 class="color-up">696</h3>
                <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last month</span>
            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-users"></i> Visitors</span>
                <h3>960</h3>
                <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-eye"></i> Page View</span>
                <h3 class="color-up">46.230</h3>
                <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-clock-o"></i> Avarage Time</span>
                <h3 class="color-down">2:10<small>min</small></h3>
                <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last week</span>
            </li>
        </ul>
    </div>
    <!-- End Top Stats -->




</div>
<!-- END CONTAINER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- Start Footer -->